.Header {
  color: white;
  object-fit: contain;
  height: 448px;
  margin-bottom: 20px;
  word-wrap: break-word;
}

.headings {
  margin-top: 250px;
  margin-left: 100px;
  word-wrap: break-word;
}

.headings2 {
  margin-left: 100px;
  word-wrap: break-word;
}

@media (max-width: 640px) {
  img {
    object-fit: contain;
    width: 640px;
    height: auto;
  }
  .headings {
    margin-left: 0;
    word-wrap: break-word;
  }
  .headings2 {
    margin-left: 0;
    word-wrap: break-word;
  }
}
